<ul class="small-block-grid-2">
  <% @players.each do |player| %>
    <li>
      <div class="small-12">
        <center>
          <%= player.display_name %>
          <br>
          <%= image_tag(player.avatar_full) %>
        </center>
      </div>
      <div class="small-12">
        <center>
          <% player.matches.each do |match| %>
            <% player.items(match).each do |item| %>
              <%= image_tag item.first, alt: item.last, class: "dota-item" %>
            <% end %>
            <br>
          <% end %>
        </center>
      </div>
    </li>
  <% end %>
</ul>