<section class="players">
  <% @players.each do |player| %>
    <div class="row player-profile">
      <div class="columns small-4">
        <h4><%= player.display_name %></h4>
        <%= image_tag player.avatar_full %>
      </div>
      <div class="columns small-8">
        <span class="secondary label">Steam Profile:</span>
        <%= link_to player.profile_url, player.profile_url %>
      </div>
    </div>
    <br>
  <% end %>
</section>