@import "bourbon/bourbon";
@import "foundation_and_overrides.scss";

body {
}

div.gradient-bg {
  @include linear-gradient(45deg, $white 0%, $gray 50%, $white 51%, $gray 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.logo {
}

div.player-profile {
  padding: 15px 0;
}

.top-bar {
  @include linear-gradient(to right, $dark-gray, $darker-gray 90%);
}

section.players {
  padding-top: 50px;
}

.dota-item {
  height: 32px;
}